[submodule "dinastycoin"]
	path = dinastycoin
	url = https://github.com/dinastyoffreedom/Newdinastycoin
	ignore = all
[submodule "external/quirc"]
	path = external/quirc
	url = https://github.com/dlbeer/quirc/
